<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Forum - Free Bulma template</title>
    <link rel="shortcut icon" href="./images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <!-- Bulma Version 0.7.2-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="./css/index.css">
  </head>
  <body>
    <div id="vueGoalApp">
      <nav class="navbar is-white topNav">
        <div class="container">
          <div class="navbar-brand">
            <h1>Activity Planner</h1>
          </div>
        </div>
      </nav>
      <nav class="navbar is-white">
        <div class="container">
          <div class="navbar-menu">
            <div class="navbar-start">
              <a class="navbar-item is-active" href="#">Newest</a>
              <a class="navbar-item" href="#">In Progress</a>
              <a class="navbar-item" href="#">Finished</a>
            </div>
          </div>
        </div>
      </nav>
      <section class="container">
        <div class="columns">
          <div class="column is-3">
            <a @click="isFormDisplayed = !isFormDisplayed" class="button is-primary is-block is-alt is-large" href="#">New Activity</a>
            <div v-if="isFormDisplayed" class="create-form">
              <h2>Create Activity</h2>
              <form>
                <div class="field">
                  <label class="label">Title</label>
                  <div class="control">
                    <input v-model="newActivity.title" class="input" type="text" placeholder="Read a Book">
                  </div>
                </div>
                <div class="field is-grouped">
                  <div class="control">
                    <button class="button is-link">Create Activity</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="column is-9">
            <div class="box content">
              <activity-item v-for="activity in activities"
                             :activity="activity"
                             :key="activity.id"></activity-item>
            </div>
          </div>
        </div>
      </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./components/ActivityItem.js"></script>
    <script>
      var app = new Vue({
        el: '#vueGoalApp',
        data: {
          isFormDisplayed: false,
          message: 'Hello Vue!',
          titleMessage: 'Title Message Vue!!!!!',
          isTextDisplayed: true,
          newActivity: {
            title: ''
          },
          items: {1: {name: 'Filip'}, 2: {name: 'John'}},
          user: {
            name: 'Filip Jerga',
            id: '-Aj34jknvncx98812',
          },
          activities: {
            '1546968934': {
              id: '1546968934',
              title: 'Learn Vue.js',
              notes: 'I started today and it was not good.',
              progress: 0,
              category: '1546969049',
              createdAt: 1546969144391,
              updatedAt: 1546969144391
            },
            '1546969212': {
              id: '1546969212',
              title: 'Read Witcher Books',
              notes: 'These books are super nice',
              progress: 0,
              category: '1546969049',
              createdAt: 1546969144391,
              updatedAt: 1546969144391
            }
          },
          categories: {
            '1546969049': {text: 'books'},
            '1546969225': {text: 'movies'}
          }
        },
        methods: {
          toggleTextDisplay () {
            this.isTextDisplayed = !this.isTextDisplayed
          }
        }
      })
    </script>
  </body>
</html>
